<section class="projects">
    <div class=".swiper-container">
      <div class="projects__sticky-wrapper">
        <h2 class="section-title"><span class="section-title__span-accent">наші</span> постановки</h2>
        <div class="swiper-wrapper">
          <ul class="projects__inner">
            <li class="swiper-slide">
              <a href="#" class="project__link"></a>
              <h3 class="project__title">лускунчик</h3>
              <h4 class="project__date">травень 2023</h4>
              <img src="../assets/images/lusk_trav.png" alt="Лускунчик" class="project__img">
            </li>
            <li class="swiper-slide">
              <a href="#" class="project__link"></a>
              <h3 class="project__title"></h3>
              <h4 class="project__date"></h4>
              <img src="../assets/images/first.png" alt="Головна" class="project__img">
            </li>
            <li class="swiper-slide">
              <a href="#" class="project__link"></a>
              <h3 class="project__title">попелюшка</h3>
              <h4 class="project__date">липень 2023</h4>
              <img src="../assets/images/popel_lyp.png" alt="Попелюшка" class="project__img">
            </li>
            <li class="swiper-slide">
              <a href="#" class="project__link"></a>
              <h3 class="project__title">снігова кроролева</h3>
              <h4 class="project__date">серпень 2023</h4>
              <img src="../assets/images/snig_serp.png" alt="Снігова королева" class="project__img">
            </li>
          </ul>
        </div>
      </div>
    </section>