<section class="about">
  <h2 class="section-title"><span class="section-title__span-accent">про</span> театр</h2>
  <div class="about__wrapper">
    <div class="about__text">
      <h3 class="about__title">кращий театр в області</h3>
      <p class="about__descr">
        Всі ці імена загальновідомі, як загальновідомо і те, що марка Театру імені Лесі Українки завжди привертала до себе не тільки професіоналів, але й непересічних глядачів сотень міст нинішнього простору СНД, де проходили гастролі театру. Офіційна біографія Національного академічного театру російської драми імені Лесі Українки починається в 1926 році, коли рішенням Київського окрвиконкому була організована в Києві Російська державна драма, і 15 жовтня того ж року театр відкрив свій перший сезон. У 1941 році йому було присвоєно ім'я Лесі Українки.
      </p>
    </div>
    <div class="about__numbers">
      <h3 class="about__title">трохи про цифри</h3>
      <ul class="about__items">
        <li>
          <img src="/assets/images/armchair 1.png" alt="Armchair1" class="about__item-img">
          <p class="about__item-text"><span class="about__span-accent">1600</span> посадочних місць</p>
        </li>
        <li>
          <img src="/assets/images/theater 1.png" alt="Theatre!" class="about__item-img">
          <p class="about__item-text"><span class="about__span-accent">350</span> років історії</p>
        </li>
      </ul>
    </div>
    <img src="/assets/images/about_image.png" alt="About image" class="about__img">
  </div>
</section>
