<section class="contacts">
    <h2 class="section-title"><span class="section-title__span-accent">стати</span> меценатом</h2>
    <div class="contacts__wrapper">
      <div class="contacts__form">
        <input type="text" placeholder="Им'я" class="contacts__input">
        <input type="text" placeholder="Компанія" class="contacts__input">
        <input type="text" placeholder="Телефон" class="contacts__input">
        <input type="text" placeholder="E-mail" class="contacts__input">
        <textarea name="input-message" id="input-message" cols="30" rows="10" placeholder="Повідомлення" class="contacts__input contacts__input_type_textarea"></textarea>
        <button class="button button_place_contacts">надіслати</button>
        <p class="contacts__personal-data">
          * Ваші дані не будуть передані третім особам, 100% ймовірність. Конфіденційність ми гарантуємо та захищаємо персональні дані.
        </p>
      </div>
      <div class="contacts__info">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a href="tel:+38095850725" class="contacts__link">+38 (095) 850-72-35</a>
          </li>
          <li class="contacts__item">
            <a href="tel:+380956507179" class="contacts__link">+38 (095) 650-71-79</a>
          </li>
        </ul>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a href="mailto:info@theater.ua" class="contacts__link">info@theater.ua</a>
          </li>
          <li class="contacts__item">м. Київ, вул.Богдана Хмельницького 5140</li>
        </ul>
      </div>
    </div>
  </section>