<header class="header">
 <div class="headline">
      <div class="headline__hamburger">
        <img src="../assets/images/headline-hamburger.svg" alt="Відкрити бургер" class="headline__hamburger-icon">
      </div>
      <nav class="header__nav header__nav_place_headline">
        <a href="#" class="header__link">головна</a>
        <a href="#" class="header__link">про&nbsp;театр</a>
        <a href="#" class="header__link">наші&nbsp;постановки</a>
        <a href="#" class="header__link">партнери&nbsp;театру</a>
        <a href="#" class="header__link">контакти</a>
        <a href="tel" class="headline__tel">+38 (095) 650-71-79</a>
      </nav>
     
  </div>

    <div class="header__content">
      <h1 class="header__title">театр ім. Лесі Українки</h1>
      <p class="header__descr">
        У самому центрі історичної частини Києва, за два кроки від Хрещатика, неподалік від Золотих воріт, на розі двох старовинних вулиць - Пушкінської та Богдана Хмельницького – постає будівля, добре відома киянам та гостям столиці України як Театр імені Лесі Українки.

        Цінність будь-якого театру, його популярність у глядача завжди визначається наявністю в ньому яскравих індивідуальностей.
        
        Київський театр імені Лесі Українки завжди славився своїми акторськими та режисерськими індивідуальностями. Театр завжди був і залишається театром ансамблю.
      </p>
      <div class="header__link-btn">
        <a href="#" class="button">афіша</a>
      </div>
      <div class="swiper">
        <div class="swiper__wrapper">
         
        </div>
        <div class="slider__btns">
          <button id="btn-prev" class="slider__btn_prev">попередня</button>
          <button id="btn-next" class="slider__btn_next">наступна</button>
        </div>
      </div>
    </div>
  </header>