<section class="partners">
    <h2 class="section-title"><span class="section-title__span-accent">партнери</span> театру</h2>
    <div class="partners__wrapper">
      <ul class="partners__inner">
        <li class="partners__item">
          <img src="./assets/images/avada-media.png" alt=" Logo Avada-Media" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/spacelab_logo.png" alt=" Logo SpaceLab" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/avada-media.png" alt=" Logo Avada-Media" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/spacelab_logo.png" alt=" Logo SpaceLab" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/avada-media.png" alt=" Logo Avada-Media" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/spacelab_logo.png" alt=" Logo SpaceLab" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/avada-media.png" alt=" Logo Avada-Media" class="partners__img">
        </li>
        <li class="partners__item">
          <img src="./assets/images/spacelab_logo.png" alt=" Logo SpaceLab" class="partners__img">
        </li>
      </ul>
    </div>
  </section>