<section class="projects">
 
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../assets/images/first.png" alt="" class="project__img"> 1</div>
      <div class="swiper-slide"><img src="../assets/images/lusk_trav.png" class="project__img">Slide 2</div>
      <div class="swiper-slide"><img src="../assets/images/popel_lyp.png" class="project__img">Slide 3</div>
      <div class="swiper-slide"><img src="../assets/images/snig_serp.png" class="project__img">Slide 4</div>
    </div>
  </div>
  </section>