<section class="projects">
    <div class="projects__sticky-wrapper">
      <h2 class="section-title"><span class="section-title__span-accent">наші</span> постановки</h2>
      <div class="projects__hidden-wrapper">
        <ul class="projects__inner">
          <li class="project">
            <a href="#" class="project__link"></a>
            <h3 class="project__title">оскар 2020</h3>
            <h4 class="project__date">сентябрь 2020</h4>
            <img src="images/projects/projects-01.jpeg" alt="" class="project__img">
          </li>
          <li class="project">
            <a href="#" class="project__link"></a>
            <h3 class="project__title">ла скала</h3>
            <h4 class="project__date">август 2020</h4>
            <img src="images/projects/projects-02.jpeg" alt="" class="project__img">
          </li>
          <li class="project">
            <a href="#" class="project__link"></a>
            <h3 class="project__title">золотой грамофон</h3>
            <h4 class="project__date">июль 2020</h4>
            <img src="images/projects/projects-03.jpeg" alt="" class="project__img">
          </li>
          <li class="project">
            <a href="#" class="project__link"></a>
            <h3 class="project__title">щелкунчик</h3>
            <h4 class="project__date">май 2020</h4>
            <img src="images/projects/projects-04.jpeg" alt="" class="project__img">
          </li>
          <li class="project">
            <a href="#" class="project__link"></a>
            <h3 class="project__title">жизель</h3>
            <h4 class="project__date">декабрь 2019</h4>
            <img src="images/projects/projects-05.jpeg" alt="" class="project__img">
          </li>
        </ul>
      </div>
    </div>
  </section>